{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
    <img class="headerimage" src="assets/img/scale.jpg"/>
{% endblock %}

{# nu de block content op in de main pagina vullen #}
{% block content %}
{# Loop #}
<div class="row justify-content-around content">
    {% for record in data %}
        <div class="col-5 d-flex flex-column justify-content-between box-shadow mb-3">
            <div class="row">
                <div class="col-12 p-0">
                    <img src="{{ record.dish.photo }}" class="dish-photo"/>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4 class="dish-title">{{ record.dish.title }}</h4>
                    <span class="star" dish-id={{ record.dish.id }} data-value="1">*</span>
                    <span class="star" dish-id={{ record.dish.id }} data-value="2">*</span>
                    <span class="star" dish-id={{ record.dish.id }} data-value="3">*</span>
                    <span class="star" dish-id={{ record.dish.id }} data-value="4">*</span>
                    <span class="star" dish-id={{ record.dish.id }} data-value="5">*</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="record-description">{{ record.dish.description_short }}</p>
                </div>
            </div>

            <div class="row mb-4 ">
                <div class="col-5">
                    <a href="http://localhost:8888/educom-verrukkulluk-1734952224/index.php?dish_id={{record.dish.id}}&action=detail">
                        <button type="submit" class="smullen-button">
                            <span class="smullen-text">Smullen!</span>
                        </button>
                    </a>
                </div>

                <div class="col-7 d-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-users" style="color: #ff2600;"></i>
                    <span class="dish-info">4</span>
                    <i class="fa-solid fa-euro-sign" style="color: #ff2600;"></i>
                    {% set price = record.total_price / 100%}
                    <span class="dish-info">{{ price | number_format(2)}}</span>
                    <i class="fa-solid fa-fire" style="color: #ff2600;"></i>
                    <span class="dish-info">{{ record.total_calories | number_format(0)}}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    {# Dump #}
</div>        
{% endblock %}
